* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    overflow:hidden;
    margin: 0px;
}

.bg {
    background: url('MarcusA.jpg') no-repeat center center/cover;
    position: absolute;
    top:-30px;
    left:-30;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index:-1;
    filter: blur(0px);
}

.loading-text {
    color: white;
    font-size:50px;

}